.logoJuleLily{
    max-width: 150px;
    width:100%;
    height: auto;
}

.icons{
    width: 21px;
    height: auto;
}
.sidebar .nav-item .nav-link span {
    font-size: 0.80rem;
}
.active-page span {
    font-weight:bold;
   
  }