.th-order {
  cursor: pointer;
  position: relative;
}
.th-order::after {
  content: "\2193";
  bottom: 0.9em;
  display: block;
  position: absolute;
  right: 0.5em;
}

.th-order::before {
  content: "\2191";
  bottom: 0.9em;
  display: block;
  position: absolute;
  right: 1em;
}
.th {
  font-weight: 800;
}

#dataTable {
  margin-bottom: 1.25rem;
}

#dataTable th,
#dataTable td {
  min-width: 80px;
  max-width: 200px;
  vertical-align: middle;
}


#dataTable td p {
  max-height: 60px;
  overflow: auto;
}

#dataTable .actionButtons {
min-width: 120px;
}

.table .actionButtons,
.table .actionButtons div {
  padding: 2px;
}

.table .actionButtons i {
  margin: 0;
}

.sticker-promo {
  border-radius: 50%;
  width:60px;
  height:60px;
  background-color: #370991;
  color:white;
  padding-top:22px;
  display:inline-block;
}


.uploadForm {
  background-color:#fff;
  border: 1px solid#d1d3e2;
  border-radius: .35rem;
  padding:3em;
}


.table p {
  font-size:0.8em;
  margin:0;
}